<?php
// router.php
if (preg_match('/\.(?:png|jpg|jpeg|gif)$/', $_SERVER["REQUEST_URI"])) {
    return false; // Liefere die angefragte Ressource direkt aus
} else {
    echo "<p>Willkommen in PHP!</p>";
}
?>

<?php
// router.php
if (php_sapi_name() == 'cli-server') {
    /* statische Assets weiterleiten und false zurückgeben */
}
/* weiter mit den normalen index.php-Operationen */
?>

<?php
// router.php
$path = pathinfo($_SERVER["SCRIPT_FILENAME"]);
if ($path["extension"] == "el") {
    header("Content-Type: text/x-script.elisp");
    readfile($_SERVER["SCRIPT_FILENAME"]);
}
else {
    return FALSE;
}
?>


<?php
$path = $_SERVER["SCRIPT_FILENAME"];

file_put_contents("php://stdout", "\nRequested: $path");
echo "<p>Hello World</p>";
?>

<?php
echo get_include_path();

// Or using ini_get()
echo ini_get('include_path');
?>


<?php
  if(get_included_files()[0] === __FILE__) doStuff();
?>